
/*****media query*****/


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

	
@media screen and (max-width:767px){
	
	
	.container {
		max-width: 540px;
	}
	.col-6{
		flex-direction:column;
		flex:100%;
		}

	.w_sm{
		width: calc(100% /2);
	}

	.heading_box_left, .heading_box_right{
		width:100%;
		max-width:100%;
		background-color:unset;
		height:unset;
	}
	.box_bg_left, .box_bg_right{
		position:unset;
		width:100%;
		max-width:100%;
		border:unset;
		padding: 5% 2%;
		top:unset;
		left:unset;
	}
	
	.center::after{
		width:28%;
	    margin-left:unset;
		z-index:1;
	}
	
	.center::before{
     width:28%;
	 margin-right:unset;
	 z-index:1;
	}
	
	.upgrade_ul{
		padding:0 5%;
	}
    
	.upgrade_li {
   
    padding-right: 2%;
    padding-left: 2%;

   }
    
   .text_center {
    padding:unset;		
    }
	
	.change_bottom_sm{
		order:2;
	}
	.change_top_sm{
		order:1;
	}
		
	.w_xs{
		width:100%;
	}
	
}



@media screen and (min-width:768px){
		
	.container {
		max-width:720px;	
	}

	.col-6{
		display:flex;
		flex-direction:row;
		flex:calc(100% / 2);
	}
		
	.w_md{
		width: calc(100% /2);
	}
	
	.box_bg_left{
		top: 10.5%;
	}

		
	.center::after{
		min-width:1em;
	}
	
	.center::before{
		min-width:1em;
	}
	
	.w_sm{
		width: calc(100% /2);
	}
}
	
@media screen and (min-width: 992px){
	
	.container {
		max-width: 960px;
	}

	.w_lg{
		width: calc(100% /3);
	}
    
	.center::after{
		min-width:2em;
	}
	
	.center::before{
		min-width:2em;
	}
	
	.upgrade_ul{
		padding:8% 0;
	}
}
	


@media screen and (min-width: 1200px){
	
	.container {
		max-width: 1140px; 
	}

	.w_xl{
		width: calc(100% /3);
	}

	.heading_box_left{
		height:556px;
	}
	
	.box_bg_left{
		top:12%;
	}
}


@media screen and (min-width:640px){
	
	
	
	.box_text,
	.custom{
		width:40%;
	}
	
	.box_right  .box_text{
		order:1;
		padding-right:10px;
		border-radius:25px;
	}
	
	
	.box_right
	.custom{
		order:3;
	}
	
}
	
	






















/*****

	
//@media screen and (max-width:599px){
	
	.container {
		max-width: 540px;
	}
	.col-6{
		flex-direction:column;
		flex:100%;
	}

	.w_sm{
		width: calc(100% /2);
	}

	.heading_box_left{
		width:100%;
		max-width:100%;
		background-color:unset;
	}
	.box_bg_left{
		position:unset;
		width:100%;
		max-width:100%;
		border:unset;
		padding: 5% 2%;
	}
	
	.center::after{
		z-index:1;
	}
	
	.center::before{
		z-index:1;
	}
	
	.upgrade_ul{
		padding:5% 0;
	}
    
	.upgrade_li {
   
    padding-right: 2%;
    padding-left: 2%;

   }
    
   .text_center {
    padding:unset;		
    }
	
	.center::after{
		width:28%;
	    margin-left:unset;
	}
	
	.center::before{
     width:28%;
	 margin-right:unset;
	}
	
}	

***/
